<header class="pulsating-background">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="../../../index.html" class="logo logo-animation">
      <img src="../../../assets/images/lyricsLogo.png" alt="" class="imgLogo">
    </a>

    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navBarLinks" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Alunos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/consulta-alunos">Consultar Alunos</a>
              <a class="dropdown-item" routerLink="/alunos-cadastros">Cadastrar Novo Aluno</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Professores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/consulta-professores">Consultar Professores</a>
              <a class="dropdown-item" routerLink="/cadastro-professores">Cadastrar Novo Professor</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Turmas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/consultar-turmas">Consultar Turmas</a>
              <a class="dropdown-item" routerLink="/turma-cadastro">Cadastrar Nova Turma</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contatos">Horário</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/financeiro">Financeiro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>