<h1>Consultar Alunos</h1>

<div class="listaAlunos">
    <table class="table">
        <thead>
            <tr>
                <th class="th">Nome</th>
                <th class="th centralizandoTextoTabela">ID</th>
                <th class="th centralizandoTextoTabela">Idade</th>
                <th class="th centralizandoTextoTabela">Data de Nascimento</th>
                <th class="th centralizandoTextoTabela">Nível</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let aluno of sortedAlunos; let i = index">
                <tr [ngClass]="{'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0}" class="linha-tabela"
                    [routerLink]="['/alunos-detalhes', aluno.idAlunoMatricula]" style="cursor: pointer;">
                    <td class="td"> {{ aluno.nome }} </td>
                    <td class="td centralizandoTextoTabela">{{ aluno.idAlunoMatricula }}</td>
                    <td class="td centralizandoTextoTabela">{{ calcularIdade(aluno.dataDeNascimento) }}</td>
                    <td class="td centralizandoTextoTabela">{{ aluno.dataDeNascimento | date:'dd/MM/yyyy' }}</td>
                    <td class="td centralizandoTextoTabela">{{ aluno.nivel }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
